---
layout: default
title: 과학당
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">매일 과학, 바른 습관</h1>
				<p class="editable">
					과학당은 기본에 충실합니다.<br>
					학습이 아닌 생각하는 습관으로,<br>
					지식이 아닌 지혜를 터득하는 방법을 가르칩니다.
				</p>
				<div class="button">
					<a href="https://www.instagram.com/{{ site.data.company.instagram }}" target="_blank">상담신청</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">과학당은 어떤 것이 다른가요?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">탄탄한 커리큘럼</h3>
			<p class="editable">과학당 커리큘럼은 현직 대학 교수님들의 자문을 받아 박사급 연구진이 구성한 수준 높은 교육과정입니다.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">수업이 아닌 놀이</h3>
			<p class="editable">과학당은 단순한 지식의 전달보다 스스로 해보면서 깨우치는 지혜에 초점을 맞춥니다. 실험은 재미있는 놀이일 뿐이고, 놀이를 통해 과학적인 사고를 함양합니다.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">메타 인지 교육</h3>
			<p class="editable">생각에 대한 생각, 뇌과학이 증명하는 최고의 학습법. 과학당은 끊임 없는 질문을 통해 메타인지적 접근을 가르칩니다.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">지금 과학당을 만나보세요</h2>
			<p class="editable">과학당은 프리미엄 과학 실험 교육을 지향합니다.<br/>체험에만 그치는 과학 실험은 더 이상 그만.<br/>박사급 연구진이 편성한 커리큘럼으로<br/>교과과정 이론까지 한 번에 잡으세요.</p>
			<p class="editable">과학당은 가르치지 않습니다.<br/>즐거운 실험시간 동안,<br/>스스로 생각하는 방법을 터득하게 합니다.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">과학에서 가장 중요한 것은 새로운 사실을 얻는 것이라기보다 사실을 생각하는 새로운 방법을 찾아내는 것이다.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/william_brag.jpg" alt="Wooly"></span>
				<span class="author editable"><strong> 윌리엄 로렌스 브래그 (노벨물리학상)</strong></span><br>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
